@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


:root{
    --red: grey;
    }
*
{
    font-family: 'Monserrat',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}
::selection{
    background: var(--red);
    color: #fff;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar
{
    font-size: 62.5%;
    width: 20.8px;
}
html::-webkit-scrollbar-track
{
    background: #000;
}
html::-webkit-scrollbar-thumb
{
    background: var(--red);
}
body
{
    background: #f9f9f9;
}
section{
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 144px;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    padding: 16px 64px;
    border-radius: 80px;
    background: var(--red);
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 27.2px;
}
.btn::before{
    content: '';
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition: 3s linear;
}
.btn::before:hover{
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.heading{
    font-size: 48px;
    color: #666;
}
.heading span{
    color: var(--red);
    
}
header
{
    width:100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    padding: 25px 7%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
header .logo
{
    font-size: 40px;
    color: #666;
} 
header .logo span
{
    color: var(--red);
}
header .navbar ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li
{
    margin-left: 40px;
}
header .navbar ul li a
{
    color: #999;
    font-size: 32px;
}
header .navbar ul li a:active
{
    color: var(--red);
    border-bottom: .32px solid var(--red);
    padding: .112px 0;
}
header .navbar ul li a:hover
{
    color: var(--red);
    border-bottom: .2rem solid var(--red);
    padding: .112px 0;
}
#menu
{
    font-size: 3rem;
    color: #999;
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home .image
{
    flex: 1 1 640px;
}
.home .image img{
    width: 100%;
}
.home .content {
    flex: 1 1 320px;
}
.home .content {
    color: var(--red);
    font-size: 40px;
}
.home .content h3{
    color: #666;
    font-size: 80px;
}
.home .content span{
    display: inline-block;
}
.home .content p{
    color: #999;
    font-size: 2rem;
    padding: 16px 0;
}
.home .content a{
    color: #fff;
    background-color: grey;
}


.protect .heading{
    text-align: center;
    padding: 16px;
}
.protect .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.protect .box-container .box{
    background: #fff;
    border: 16px solid rgba(0,0,0,0.1);
    padding: 32px;
    margin: 32px;
    width: 544px;
    border-radius: .80px;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    text-align: center;
}

.protect .box-container .box img{
    width: 272px;
    height:272px;
}
.protect .box-container .box h3{
    font-size: 40px;
    color: #666;
    padding: 1rem 0;
    
}
.protect .box-container .box p{
    font-size: 22.4px;
    color: #999;
    padding: .80px;
}
.protect .box-container .box:hover{
    transform: translateY(-16px);
}
.symtoms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.symtoms .content{
    flex: 1 1 640px;
}
.symtoms .image{
    flex: 1 1 40rem;
}
.symtoms .image img{
    width: 100%;
}
.symtoms content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
}
.symtoms .content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.symtoms .content ul .symtoms2{
    padding-left: 4.5rem;
}
.symtoms .content ul li{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0;
}
.precautions{
    background: #fff;
}
.precautions .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.precautions .row .image{
    flex: 1 1 37rem;
    height: 35rem;
    text-align: center;
}
.precautions .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.precautions .row .content{
    padding: 2rem 0;
    flex: 1 1 37rem;
}
.precautions .row .content .heading{
    color: #000;
}
.precautions .row .content p{
    font-size: 1.7rem;
    color: #000;
    padding: 1rem 0;
}
.precautions .row .content ul li{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #000;
    padding: .5rem 0;
}
.spread .heading{
    text-align: center;
    padding: 1rem;
}
.spread .image{
    height: 80vh;
    width: 100%;
    background: url(outbreak.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.graph {
    background: #fff;
}
.graph h1{
    font-size: 5rem;
    text-align: center;
}
.grid{
    background: #fff;
    padding: 5rem 0;
}
.grid .image{
    text-align: center;
}
.news{
    background: #fff;
}
.news .heading{
    font-size: 5rem;
    text-align: center;
}
.livenews{
    font-size: 5rem;
    text-align: center;
}
.livenews1{
    text-align: center;
    padding-top: 3rem;
}

.footer {
    min-height: auto;
    padding-top: 0;
    background: #333;
}
.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 2rem;
    font-weight: normal;
    
}
.footer .box-container .box p{
    font-size: 1.5rem;
    color: #ccc;
    padding: 1rem 0;
    font-weight: normal;
}
.footer .box-container .box a{
    font-size: 1.5rem;
    color: #ccc;
    padding: 1rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    color: var(--red);
}
.footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 5rem;
    border: 1rem solid #fff;
    margin-right: 1rem;
}
.footer .box-container .box .share a:hover{
    background: #fff;
}
.footer  .credit {
    padding: 2rem 1rem;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
    border-top: .1rem solid #fff;
}
.footer .credit a{
    color: #fff;
    text-align: center;
}

@media (max-width:991px){
    html{
        font-size: 55%;
        overflow-x: visible;
   }
}
@media (max-width:768px) {
    #menu{
        display: block;
    }
    header .navbar{
        position: fixed;
        top: 8rem;
        left: 0;
        height: 100%;
        width: 100%;
        background: #eee;
        border-top: .2rem solid  rgba(0,0,0,0.1);
    }
    header .navbar ul{
        flex-flow: column;
        padding: 2rem;
    }
    header .navbar ul li{
        text-align: center;
        width: 100%;
        margin: 1rem 0; 
    }
    header .navbar ul li a{
        display: block;
        padding: 1rem;
    }
    header .navbar ul li a:active,
    header .navbar ul li a:hover{
        padding: 1rem;
        background: var(--red);
        color: #fff;
        border:none;
        border-radius: 5rem;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .navbar .nav-toggle{
        left:0;
    }
    .home .content {
        text-align: center;
    }
    .precautions row:last-child{
        flex-flow: column-reverse;
    }
}